// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.widget {
  width: 300px;
  height: 64px;

  p {
    margin: 0;
    padding-top: 2.6em;
    text-align: center;
  }
}